<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIAppFonts</key>
	<array>
		<string>futur.ttf</string>
		<string>FuturaMediumItalic.ttf</string>
		<string>futuramedium.ttf</string>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>We need access to your contacts to provide better services.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>abc</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>abc</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>In order to verify your identity and determine your location for accurate service provision, we need to collect your location data and effectively prevent fraud risks.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>In order to verify your identity and determine your location for accurate service provision, we need to collect your location data and effectively prevent fraud risks.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>We seek your Advertising ID to enhance our services and fortify fraud prevention. We are committed to safeguarding your privacy and complying with all applicable laws and regulations. The collected Advertising ID will be utilized solely for the purpose of service improvement.</string>
</dict>
</plist>
